<section class="d-flex gap-2">
    <section class="w-50 m-2">
        <h5>Formularz dodawania użytkownika</h5>
        <form>
            <div class="row m-2">
                <label class="col-3 text-end" for="firstname">Nazwa</label>
                <input class="col-6" type="text" required>
            </div>
            <div class="row m-2">
                <label class="col-3 text-end" for="email">Email</label>
                <input class="col-6" name="email" type="email" required>
            </div>
            <div class="row m-2">
                <label class="col-3 text-end" for="role">Role</label>
                <select class="col-6" name="role" id="role">
                    @for (role of roles(); track $index) {
                    <option value="{{ role }}">{{ role }}</option>
                    }
                </select>
            </div>
        </form>
    </section>
    <section class="w-50 m-2">
        <h5>Tabela z użytkownikami, ilość: {{ users().length }}</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Lp</th>
                    <th>Nazwa</th>
                    <th>Rola</th>
                    <th>Data</th>
                    <th>---</th>
                </tr>
            </thead>
            <tbody>
                @for (user of users(); track $index) {
                <tr>
                    <td>{{ $index + 1 }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.date.toLocaleDateString() }}</td>
                    <td><button class="btn btn-danger">Usuń</button></td>
                </tr>
                }
            </tbody>
        </table>
    </section>
</section>